.header-container {
    width: 100%;
    background-color: rgba(44, 75, 41, 0.52);
}

.header-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    display: flex;
    -webkit-appearance: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

li:hover {
    color: #06065d;
    cursor: pointer;
}