.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../photos/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}